* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
body{
  color: linear-gradient(to bottom, rgba(118, 149, 226, 0), rgb(2, 42, 91));
  /*background-color:#25297e;*/
  background-image: linear-gradient(to top, rgba(126, 201, 244, 0.413), rgba(42, 95, 160, 0.378));

}
:not(logo){
  border-radius: 0rem;
}
.header {
  color: #ffffff;
  padding: 15px;
  background-image: linear-gradient(to top, rgba(25, 69, 179, 0), rgb(2, 42, 91));
}

.menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.menu ul {
  overflow: hidden;
  background-image: linear-gradient(to top, rgba(25, 69, 179, 0), rgb(2, 42, 91));
  align-content: center;
  display: flex;
  nav-left: auto;
  border-radius: 2rem;
}

.menu li {
  list-style-type: none;
  float: left;
  background-image: linear-gradient(to top, rgba(220, 203, 177, 0.693), rgba(42, 95, 160, 0.378));
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 1rem;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.menu li:hover {
  background-color: #0099cc;
}



.row {
  display: -webkit-flex;
  display: flex;
  padding-bottom: 2rem;
}
.column {
  padding: 10px;
  flex-wrap: wrap;
}

.column.side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Middle column */
.column.middle {
 -webkit-flex: 2;
 -ms-flex: 2;
 flex: 2;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.article-title{
  padding: 30px;
  text-align: center;
  font-size: 35px;
  background-image: linear-gradient(to top, rgba(97, 187, 220, 0.693), rgba(36, 76, 124, 0.748));
  color: rgba(241, 243, 247, 0.926);
  border-radius: 3rem;
  border-image: 3rem;
}
.cards{
  align-items: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex-wrap: wrap;
  border-radius: 3rem;
  padding: 1rem;
}
img {
  width: 400px;
  height: 300px;
}


.content {
  overflow: scroll;
  margin: 0 0 1.5em;
}
p{
  margin: 0 0 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subject-list{
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
}
figcaption {
	font-style: italic;
	font-size: 90%;
}

.footer {
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  align-items: center;
  align-self: center;
  background-image: linear-gradient(to top, rgba(25, 69, 179, 0), rgb(2, 42, 91));
}